.App {
  text-align: center;
  border: 2px solid black;
  margin: 5%;
}

input[type="text"] {
  padding: 10px;
  border: 2px solid black;
  font-size: 15px;
}

.btnAdd{
  background-color: aqua;
  font-weight: bolder;
  margin-left: 10px;
  border: 2px solid black;
  font-size: 15px;
  width: auto;
  height: 40px;
}

.toggle-view{
  display: flex;
  justify-content: center;
}

.btnstackview{
  padding: 5px;
  margin-top: 10px;
  border: 2px solid black;
}

.btnstackview.active {
  background-color: yellow;
}

.btngridview{
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid black;
}

.btngridview.active {
  background-color: yellow;
}

.todo-list{
  display: grid;
  justify-items: center;
  margin-top: 10px;
}

.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 90%;
  border: 2px solid black;
  margin-bottom: 10px;
}


.trashicon{
  border: 1px solid black;
  padding: 5px;
  margin-right: 10px;
}


.todo-list input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-item.completed {
  background-color: lightgreen;
}

.todo-list.grid {
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 20px;
}


.todo-list.grid .todo-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 150px;
}

.todo-list.grid .text,
.todo-list.grid .date {
  margin-left: 10px; 
}


.todo-list.grid .trashicon{
  margin-left: auto;
  margin-bottom: 1%;
}




















